datasets==2.5.2
gdown==4.5.1
Jinja2==2.10.1
kornia==0.6.8
Markdown==3.3.6
matplotlib==3.5.1
numpy==1.17.4
opencv_python==4.5.4.58
pydantic==1.10.2
PyYAML==6.0
scikit_learn==1.1.3
setuptools==45.2.0
tabulate==0.9.0
tensorflow==2.8.0
tensorflow_addons==0.18.0
tomli==2.0.1
torch==1.11.0+cu113
torchinfo==1.7.1
torchvision==0.12.0+cu113
tqdm==4.62.3
